
.base-container {
  height: 100%;
  width: 100%;
}

/* @media screen and (max-width: 450px) {
  .base-container {
    height: 100%;
    width: 100%;
  }
} */

.banner-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 3em;
  padding: 0 0.75em;
  background-color: white;
  font-family: 'Nunito', sans-serif;
  border-bottom: 1px solid 	#F0F0F0;
  
  /* position: sticky;
  top: 0px; */
}

.logo {
  height: 3em;
  display: flex;
  align-items: center;
  width: 15%;
  /* background-color: red; */
  font-weight: bolder;
}

.failed-to-load {
  display: flex;
  justify-content: center;
  align-items: center;
}